<h3>Add a Comment</h3>
{% form_theme commentForm 'bootstrap_3_layout.html.twig' %}
{{ form(commentForm) }}
<hr>
<br>
<h3>Comments:</h3>

<div id="comments">
{% for comment in comments %}
  <div style="background: #cccccc; ">
    <p>Name:
      <a href="mailto:{{ comment.email }}">{{ comment.name }}</a>
    </p>
    <p>{{ comment.comment }}
    </p>
  </div>
  <hr/>
{% endfor %}
</div>